<%= simple_form_for @mymoive do |f| %>
  <div class="form-mymoive">
    <%= f.input :name, input_html: {class: "form-control"} %>
    <%= f.input :description, input_html: {class: "form-control"} %>
  </div>

<%= f.submit "Submit", class: "btn btn-primary", data:{ disable_with: "Submiting..." } %>
<% end %>
