<div class="col-md-4 col-md-offset-4">
    <h2>新增电影</h2>

    <hr>
    <%= form_for @mymoive do |f| %>

    影片名
    <%= f.text_field :name %>
    <br>
    简介
    <br>
    <%= f.text_area :description %>
    <br>

    <%= f.submit "Submit", :disable_with => 'Submiting...' %>
    <% end %>

</div>
