<div class="col-md-12">
  <div class="mymoive">
    <%= link_to("Edit", edit_mymoife_path(@mymoive), class: "btn btn-primary pull-right")%>
  </div>
  <h2><%= @mymoive.name %></h2>
  <p><%= @mymoive.description %></p>
</div>
