<div class="col-md-12">
  <div class="mymoive">
    <% if current_user && current_user == @mymoive.user %>
      <%= link_to("Edit", edit_mymoife_path(@mymoive), class: "btn btn-primary pull-right")%>
    <% end %>
  </div>
  <h2><%= @mymoive.name %></h2>
  <p><%= @mymoive.description %></p>
</div>
